@model UserRolesViewModel

<form method="post" asp-action="ManageRoles">
    <div class="card mt-4">
        <div class="card-header">
            <h2>@Model.UserName</h2>
            Add/Remove Roles
        </div>
        <div class="card-body">
            <input type="hidden" asp-for="UserId"/>
            @for(int i=0;i<Model.Roles.Count;i++)
            {
                <div class="form-check m-1">
                    <input hidden asp-for="@Model.Roles[i].RoleName"/>
                    <input asp-for="@Model.Roles[i].IsChecked" class="form-check-input"/>
                    <label class="form-check-label" asp-for="@Model.Roles[i].IsChecked">
                        @Model.Roles[i].RoleName
                    </label>
                </div>
            }
            <div asp-validation-summary="All" class="text-danger">  </div>
            <div class="card-footer">
                <button class="btn btn-primary" type="submit">Save</button>
                <a asp-action="Index" class="btn btn-primary"> Cancel</a>
            </div>
        </div>

    </div>
</form>